<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".tmj" />
      <mimeMap fileExtension=".tmj" mimeType="application/json" />
      <remove fileExtension=".wam" />
      <mimeMap fileExtension=".wam" mimeType="application/json" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <remove name="Access-Control-Allow-Origin" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <remove name="Access-Control-Allow-Methods" />
        <add name="Access-Control-Allow-Methods" value="GET, OPTIONS" />
        <remove name="Access-Control-Allow-Headers" />
        <add name="Access-Control-Allow-Headers" value="Origin, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
